html, body{
    margin: 0;
    padding: 0;

    background-color: #233661;

    font-family: Arial, Helvetica, sans-serif;

}

/*----------Header---------/
header{
    padding: 10px;
}


/*Container*/
.logo{
    float: left;

    margin-left: 10%;

}

.logo img{
    width: 100px;
    padding: 10px;
    
}

.busca{
    border: solid red 1px;
    float: left;

}

.logout{
    float: right;
    width: 90px;
    margin-right: 120px;
    margin-top: 25px;
    
}

.logout span{
    font-size: 3em;
    color: #c2d8fd;
    text-decoration: none;
    float: left;


}

.logout p{
    float: right;
    margin-top: 20px;
    margin-right: 5px;

    color: #c2d8fd;
}

/**/
.buscar button{

   margin-top: 25px;

   float: left;
    width: 60px;
    height: 40px;
    margin-left: 20px;
    margin-right: -4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;


    background-color: #c2d8fd;
    text-align: center;  
    
    font-style: italic;
    color: #233661;

}

/*input*/
.buscar input{
    float: left;
    width: 300px;
    height: 38px;
    margin-top: 25px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;

    font-size: 1.3em


}

/*----------coteudo------*/
.conteudo{
    clear: both;
}


/********* Barra Lateral ***********/
aside{
    background-color: white;

    width: 20%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 5px;
    float: left;
}

.block{
    background-color: white;
    float: right;
    width: 66%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 10px;
}


.imgPerfil{

    width: 120px;
    height: 120px;
    background-color: rgb(215, 229, 230);
    border-radius: 100%;

    margin-left: 30%;
    margin-top: 30%;
    margin-bottom: 10%;

}

.addSenha, .altSenha, .exlSenha, .confg{
    margin-bottom: 50px;
    clear: both;
    padding: 10px;
}

.confg{
    margin-bottom: 50%;
}


.nomePerfil{

    color: #233661;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 30%;

}

.icone span{

    float: left;

    /*border: solid red 1px;*/

    color: #233661;
    font-size: 2em;

    margin-top: 8px;
    margin-left: 5%;
    padding: 5px;
    
}

.opcao{
    /*border: solid red 1px;*/

    float: left;
    width: 65%;

    padding: 5px;
    text-align: left;
    font-size: 1.3em;

    margin-top: 15px;
    margin-left: 10px;

}

.opcao a{
    text-decoration: none;
    color: #233661;
}


/* Fotter*/
footer{
    clear: both;
}