.thead{

    padding: 10px;

}

.nome, .emailUsuario, .senha, .nivel{
    float: left;
    text-align: center;
    color: #233661;
    font-size: 1.3em;
    padding: 10px;
    margin-left: 11%;
}

.tbody{
    clear: both;

    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 5px 2px rgba(20, 52, 52, 0.30);

    margin-bottom: 5%;
}

tbody tr td{
    /*border: solid red 1px;*/
    width: 10%;
    padding: 10px;
    font-size: 1em;
    color: #233661;
    text-align: center;

}

tr td{
    border-bottom: solid rgba(128, 128, 128, 0.233) 1px;

}

ul{
    list-style-type: none;
    margin-left: 40%;
}

li{
    display: inline;
    padding: 8px;

    color: #233661;
    background-color: #C2D8FD;
    text-align: center;
}