{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/add.css' %}">


<!--Titulo-->
<section>
    <!--Titulo-->
    <div class="titulo">
        <div class="iconeAdd">
            <span class="material-icons-outlined">
                note_add
            </span>
        </div>
    
        <div class="subtitulo">
            <h1>Add Nova Senha</h1>
        </div>
    </div>

    <!--Container-->
    <div class="container">
        <h2>Entre com os dados</h2>      

        <!--Form-->        
        <div class="formulario">
            <form action="" method="post">
                {% csrf_token %}
                <!--Instituição-->
                <div class="inst">
                    <label for="instituicao">Nome da Instituição*</label>
                    <input type="text" placeholder="Nome da Instituição*">
                </div>

                <!-- Email/Usuário-->
                <div class="emailuser">
                    <label for="user">Email/Usuário*</label>
                    <input type="text" placeholder="Email/Usuário*">
                </div>

                <!-- Email/Usuário-->
                <div class="senha">
                    <label for="senha">Senha*</label>
                    <input type="text" placeholder="Senha*">
                </div>                
            </form>

            <!--Btn fomulario OBS-->
            <div class="btn">
                <button type="submit">Salvar</button>
            </div>

            <!--Manual Automático-->
            <div class="manuaAuto">
                <div class="btnManual">
                    <a href="{% url 'addNovaSenhaM' %}">Senha Manual</a>
                </div>
    
                <div class="btnAutomatica">
                    <a href="#">Senha Automática</a>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}