{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

        <title>Gerenciador de Senhas</title>
    </head>

    <body>
        
        <!--Header-->
        <section>
            <header>

                <div class="container">
                    <div class="row">
                        <!--Logo-->
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo-1.png'%}" alt="Logo">
                            </a>
                        </div>

                        <!--Busca-->
                        <div class="buscar">

                            <div>
                                <button type="submit" >
                                    <span class="material-icons-outlined">
                                        search
                                    </span>
                                </button>
                            </div>

                            <div>
                                <input type="text" placeholder="Buscar">
                            </div>
                        </div>

                        <!--Logout-->
                        <div class="logout">
                            <div>
                                <a href="#">
                                    <span class="material-icons-outlined">
                                        logout
                                    </span>                               
                                </a>
                            </div>

                            <div>
                                <p>Sair</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        
        <!--Conteudo-->
        <section>
            <div class="conteudo">
                
                <!--Barra Lateral-->
                <aside>
                    <!--Perfil-->
                    <div class="perfil">
                        <!--imgPerfil-->
                        <div class="imgPerfil">
                            <img src="" alt="">
                        </div>

                        <!--Usuario-->
                        <div class="nomePerfil">
                            <h2>Usuário</h2>
                        </div>

                        <!--Add Senha-->
                        <div class="addSenha">

                            <div class="icone">
                                <span class="material-icons-outlined">
                                    note_add
                                </span>
                            </div>

                            <div class="opcao">
                                <a href="#">Add Nova Senha</a>
                            </div>
                            
                        </div>

                         <!--Alterar Senha-->
                         <div class="altSenha">

                            <div class="icone">
                                <span class="material-icons-outlined">
                                    published_with_changes
                                </span>
                            </div>

                            <div class="opcao">
                                <a href="#">Alterar Senha</a>
                            </div>
                            
                        </div>

                        <!--Excluir Senha-->
                        <div class="exlSenha">

                            <div class="icone">
                                <span class="material-icons-outlined">
                                    delete
                                </span>
                            </div>

                            <div class="opcao">
                                <a href="#">Excluir Senha</a>
                            </div>
                            
                        </div>

                        <!--Configurações-->
                        <div class="confg">

                            <div class="icone">
                                <span class="material-icons-outlined">
                                    settings
                                </span>
                            </div>

                            <div class="opcao">
                                <a href="#">Configurações</a>
                            </div>
                            
                        </div>
                    </div>

                </aside>

                <!--Conteudos-->
                <div class="block">
                    {% block conteudo%}
                    {% endblock%}
                    coteudo
                </div>
                
            </div>
        </section>

        <section>
            <footer>
                rodape
            </footer>
        </section>

    </body>

</html>